[submodule "assembly_segmentation/polyrnn-pp"]
	path = assembly_segmentation/polyrnn-pp
	url = https://github.com/davidjesusacu/polyrnn-pp
[submodule "polyrnn-pp"]
	path = polyrnn-pp
	url = https://github.com/naveenram00/polyrnn-pp
